.footerContainer {
  height: 90vh;
  background-color: rgba(155, 172, 190, 0.5);
  background-color: #E7EBEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  padding: 40px 70px;
  font-size: 14px;
  box-sizing: border-box;
}

.footerMainTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.footerTitle {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.footerList {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
  grid-gap: 10px;
}

.flagBox {
  position: relative;
  width: 70px;
  height: 50px;
}

.listMongoliaBox {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin-top: 20px;
}

.listMongolia {
  display: grid;
  grid-template-columns: 1.75fr 2fr;
}

.qrContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
  align-items: center;
  justify-items: center;
}

.line {
  border-bottom: 0.5px solid rgba(12, 53, 97, 0.2);
  width: 90%;
  margin: 10px auto;
}

.list {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.qrContainerMobile {
  display: none;
}

@media (max-width: 1350px) {
  .footerContainer {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .footerContainer {
    height: auto;
  }

  .footerTitle {
    margin-bottom: 20px;
  }

  .footerList {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .line {
    margin: 20px 0;
  }

  .qrContainer {
    display: none;
  }

  .listMongoliaBox {
    grid-template-columns: 5fr 0fr;
  }

  .listMongolia {
    grid-template-columns: 1fr 2fr;
  }

  .qrContainerMobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .footerContainer {
    padding: 20px 30px;
  }

  .list,
  .listMongolia {
    grid-gap: 10px;
  }
}
