.footerContainer {
    height: 90vh;
    background-color: rgba(155, 172, 190, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    padding: 20px 70px;
    font-size: 14px;
    box-sizing: border-box;
}

.footerList {
    display: flex;
    margin: 20px;
}

.list1 {
    flex: 0.5;
    margin: auto 5px;
}

.list2 {
    flex: 1.2;
    text-transform: uppercase;
    line-height: 30px;
}

.headTitle {
    margin-bottom: 0;
}

.footerTitle {
    text-transform: uppercase;
    font-weight: 600;
    text-indent: 10px;
}

.footerTitle {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-left: 0px;
}

.russiaList {
    line-height: 30px;
}

.mongolialist1, .koreList1, .chinaList1, .chinaList2, .russialist1,.russialist2, .mongolialist3 {
    margin-bottom: 0;
}

.list3 {
    flex: 2.5;
    line-height: 30px;
}

.qrMainContainer {
    display: flex;
}

.mongoliaSide {
    flex: 1;
}

.qrContainer {
    flex: 0.5;
    display: flex;
    gap: 20px;
    align-items: center;
}

.line {
    border-bottom: 0.5px solid rgba(12, 53, 97, 0.2);
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 948px) {
    .mongolialist3 {
        margin-bottom: 25px;
    }    
}

@media (max-width: 1074px) {
    .mongolialist1 {
        margin-bottom: 34px;
    }    
}

@media (max-width: 983px) {
    .russialist1 {
        margin-bottom: 34px;
    }    
}

@media (max-width: 1037px) {
    .russialist2 {
        margin-bottom: 31px;
    }    
}

@media (max-width: 1122px) {
    .koreList1 {
        margin-bottom: 30px;
    }    
}

@media (max-width: 1448px) {
    .chinaList1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 1449px) {
    .chinaList2 {
        /* margin-bottom: 30px; */
    }
}

@media (max-width: 1200px) {
    .footerList {
        margin: 10px;
    }
}

@media (max-width: 950px) {
    .footerContainer {
        line-height: 25px;
    }
}