.container {
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.mapTitle {
    text-align: center;
    margin: 0;
    /* vertical-align: middle; */
    /* margin-top: 30px; */
}

.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 40px; */
    gap: 40px;
    line-height: 30px;
    padding: 0 60px;
}

.mapBox {
    position: relative;
    width: 550px;
    height: 444px;
    flex: 1;
}

.image {
    border-radius: 30px;
}

.mapSentence {
    font-size: 16px;
    flex: 1.1;
}

@media (max-width: 1262px) {
    .mapBox {
        width: 450px;
        height: 363.54px;
    }
}


.mapSequence {
    margin-bottom: 20px;
    font-size: 16px;
}


@media (max-width: 1440px) {
    .mapSequence {
        font-size: 14px;
    }
}