.navigation {
  display: flex;
  align-items: center;
  background-color: var(--navigationColor);
  height: 70px;
  margin: 0;
  gap: 10px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000000;
  padding: 0 100px;
}

.logoBox {
  position: relative;
  width: 80px;
  aspect-ratio: 70/70;
}

.link {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnLangBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link,
.linkColumn {
  padding-left: 0px;
}

.link li,
.linkColumn li {
  position: relative;
  list-style: none;
}

.linkColumn {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 100px 30px;
  height: 100%;
  background-color: var(--navigationColor);
  z-index: 10000;
}

.linkColDisplay {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.home,
.homeService,
.homeAboutUs,
.homeProducts,
.homeOrder,
.homeCollaboration {
  display: block;
  text-decoration: none;
  color: #0c3561;
  padding: 5px;
}

.homeColumn,
.homeServiceColumn,
.homeAboutUsColumn,
.homeProductsColumn,
.homeOrderColumn,
.homeCollaborationColumn {
  text-decoration: none;
  color: #0c3561;
}

.languageContainer {
  position: relative;
}

.language {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0c3561;
}

.flagBox {
  position: relative;
  width: 30px;
  height: 20px;
}

.flagList {
  font-size: 12px;
}

.otherLanguagesUl {
  position: absolute;
  left: -15px;
  top: 43px;
  padding: 0px;
  background-color: var(--navigationColor);
}

.otherLanguagesLi {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1px 15px;
}

.otherLanguagesLi:hover {
  background-color: rgba(155, 172, 190, 0.3);
}

.display {
  display: none;
}

/* Close button */

.navButt {
  background: transparent;
  border: none;
  cursor: pointer;
}

.navMenuButt {
  display: none;
}

@media only screen and (max-width: 1144px) {
  .navigation {
    justify-content: space-between;
    padding: 0 50px;
  }

  .link {
    display: none;
  }

  .navMenuButt {
    display: block;
  }
}

@media only screen and (min-width: 1144px) {
  .linkColDisplay,
  .navButt {
    display: none;
  }

  /* .linkColDisplay {
    transition: 0.3s ease-in-out;
  } */
}
