.mainContainer {
    width: 100%;    
    box-sizing: border-box;
}

.productContainer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.productPartTitleContainer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.listContainer {
    margin: 30px;
    font-size: 14px;
}

.listTransport {
    width: 100%;
}

.productListSelbeg {
    display: flex;
    justify-content: space-around;
}

.boxContainer {
    display: flex;
    gap: 30px;
}

.boxContainerMarginBottom {
    margin-bottom: 30px;
}

.imageBox1 {
    position: relative;
    width: 679px;
    height: 327px;
}

.imageBox2 {
    width: 462px;
    height: 327px;
    position: relative;
}

@media (max-width: 1440px) {
    .imageBox1 {
        width: 593px;
        height: 281px;
        position: relative;
    }

    .imageBox2 {
        width: 425px;
        height: 281px;
    }
}

.productContainerSectionTomorLaaz, .productContainerSectionSelbeg, .productContainerBuilding {
    position: relative;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 900px;
    z-index: -1;
}

.shadowBuilding {
    position: absolute;
    width: 100%;
    height: 900px;
    top: 300px;
    z-index: -1;
}

/* SECTION 2 */

.imageBox3 {
    width: 561px;
    height: 327px;
    position: relative;
}

@media (max-width: 1440px) {
    .imageBox3 {
        width: 509px;
        height: 281px;
    }
}

/* SECTION 3 */

.imageBox4 {
    width: 561px;
    height: 429px;
    position: relative;
}

.imageBox5 {
    width: 414px;
    height: 300px;
    position: relative;
}

.imageBox6 {
    width: 708px;
    height: 300px;
    position: relative;
}

@media (max-width: 1440px) {
    .imageBox4 {
        width: 510px;
        height: 349px;
    }

    .imageBox5 {
        width: 377px;
        height: 244px;
    }

    .imageBox6 {
        width: 644px;
        height: 244px;
    }
}

/* SECTION 4 */

.imageContainer4 {
    display: flex;
    gap: 30px;
}

.imageBox7 {
    width: 672px;
    height: 759px;
    position: relative;
}

.imageBox8 {
    width: 450px;
    height: 250px;
    position: relative;
}

.boxContainer4 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1440px) {
    .imageBox7 {
        width: 613px;
        height: 656px;
    }

    .imageBox8 {
        width: 410px;
        height: 216px;
    }

}

/* SECTION 5 */

.imageContainer5 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imageBox9 {
    width: 1152px;
    height: 357px;
    position: relative;
}

.boxContainer5 {
    display: flex;
    gap: 30px;
}

@media (max-width: 1440px) {
    .imageBox9 {
        width: 1048px;
        height: 315px;
    }
}

/* Metal Section */

.productContainerSectionMetal {
    position: relative;
}

.metalContainer {
    display: flex;
    gap: 30px;
}

.column {
    flex-direction: column;
}

.hongonTsagaanTitle {
    text-align: center;
}

.hongonTsagaan {
    display: flex;
    gap: 30px;
}

.truckBox {
    border: 2px solid rgba(12, 53, 97, 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 280px;
}

.bottomLine {
    width: 75%;
    height: 1px;
    background-color: silver;
    margin-top: 60px;
}

.productContainerSectionLast {
    margin-bottom: 60px;
}

.productContainerBuilding {
    margin-bottom: 140px;
}

