.container {
  box-sizing: border-box;
}

.main {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

.homeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home {
  display: grid;
  color: #0c3561;
  position: absolute;
  top: 220px;
  left: 100px;
  z-index: 10;
  font-size: 18px;
}

.homeTitleContainer {
  margin-bottom: 60px;
}

.homeTitle {
  font-size: 50px;
}

.homeInfo {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.firstList1,
.firstList2,
.secondList,
.thirdList,
.fourthList {
  font-size: 18px;
}

.planetBox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

/* MAIN TITLE =================================== */

.mainTitle {
  margin: 0;
  color: #0c3561;
  position: relative;
}

.mainTitleAboutUsSpan,
.mainTitleMapSpan,
.mainTitleCollaborationSpan {
  background-color: rgba(232, 232, 232, 0.5);
  padding: 3px;
}

.mainTitleAboutUsSpan::before,
.mainTitleMapSpan::before,
.mainTitleCollaborationSpan::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -3px;
  height: 26px;
  width: 4px;
  background-image: linear-gradient(to right, #ffac29, #ffda56, #ffd7a6);
}

/* SERVICE ============================================ */

.ourService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 60px;
  height: 300px;
  background-color: rgba(155, 172, 190, 0.5);
}

.serviceParts {
  display: grid;
  gap: 8px;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */
  grid-template-columns: 1fr 1fr 1fr;
}

.servicePart {
  text-align: center;
}

.iconBox {
  position: relative;
  height: 100px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.serviceTitle {
  margin-bottom: 20px;
  margin-left: 37px;
}

.serviceSolution {
  display: flex;
  flex-direction: column;
}

.serviceProduct,
.serviceAdvice,
.serviceSolutionSpan1,
.serviceSolutionSpan2 {
  font-size: var(--fontSize16);
}

.mainTitleServiceSpan,
.mainTitleProductSpan,
.mainTitleOrderSpan {
  background-color: rgba(232, 232, 232, 0.5);
  padding: 3px;
}

.mainTitleServiceSpan::before,
.mainTitleProductSpan::before,
.mainTitleOrderSpan::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: -3px;
  height: 26px;
  width: 4px;
  background-image: linear-gradient(to right, #ffac29, #ffda56, #ffd7a6);
}

/* About us  */

.aboutUs {
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 530px;
  padding: 0px 100px;
  gap: 30px;
}

.aboutUsTitle {
  flex: 1;
  text-align: center;
  font-size: 35px;
  margin: 30px 0px;
}

.aboutUsTextContainer {
  flex: 1;
  text-align: justify;
  border-left: 1px solid #d8d8d8;
  padding-left: 10px;
  line-height: 30px;
}

.aboutUsMainTitle {
  margin-bottom: 40px;
}

.aboutUsText1,
.aboutUsText2 {
  font-size: var(--fontSize16);
  color: #666c89;
  text-indent: 40px;
}

/* Order ======================= */

.order {
  height: 415px;
  padding: 0px;
  background-color: rgba(155, 172, 190, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orderSentence {
  font-size: var(--fontSize16);
  line-height: 40px;
}

.orderOne,
.orderTwo,
.orderThree,
.orderFour,
.orderFive,
.orderSix {
  color: #161616;
}

/* Collaboration */

.collaboration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 415px;
  position: relative;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  padding: 0px 60px;
  box-sizing: border-box;
  background-image: url("/zam.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.collaborationTitle,
.collaborationSentence {
  color: white;
  z-index: 1000;
}

.teewerZuuchSentence {
  z-index: 1000;
}

.collaborationSentence,
.teewerZuuchSentence {
  font-size: var(--fontSize16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 32, 59, 0.55);
}

@media (max-width: 1440px) {
  /* Home =============== */
  .home {
    top: 200px;
    left: 100px;
  }

  .homeInfo {
    font-size: 20px;
  }

  .homeTitleContainer {
    margin-bottom: 30px;
  }

  .firstList1,
  .firstList2,
  .secondList,
  .thirdList,
  .fourthList {
    font-size: var(--fontSize16);
  }
  /* About us =============== */
  .aboutUsText1,
  .aboutUsText2,
  .orderSentence {
    font-size: var(--fontSize15);
  }

  .serviceProduct,
  .serviceAdvice,
  .serviceSolutionSpan1,
  .serviceSolutionSpan2 {
    font-size: var(--fontSize15);
  }

  .collaborationSentence,
  .teewerZuuchSentence {
    font-size: var(--fontSize15);
  }
}

@media (max-width: 1359px) {
  /* About us =============== */
  .aboutUsTitle {
    flex: 1;
  }

  .aboutUsTextContainer {
    flex: 1.5;
  }

  .aboutUsMainTitle,
  .orderMainTitle,
  .collaborationTitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 1250px) {
  /* About us =============== */

  .aboutUs {
    height: auto;
    padding: 50px 60px;
  }
}

@media (max-width: 850px) {
  /* About us =============== */

  .aboutUs {
    flex-direction: column;
  }

  .aboutUsTextContainer {
    border-left: 0px;
    padding-left: 0px;
  }
  .ourService {
    padding: 20px 40px;
  }
  .serviceParts {
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  }

  .iconBox {
    height: 85px;
    width: 85px;
  }

  .serviceProduct,
  .serviceAdvice,
  .serviceSolutionSpan1,
  .serviceSolutionSpan2 {
    font-size: 14px;
  }

  /* Order ============ */

  .order,
  .collaboration {
    padding: 50px 60px;
    height: auto;
  }

  .orderSentence {
    font-size: var(--fontSize15);

    line-height: 30px;
  }
}

@media (max-width: 820px) {
  /* Home =============== */

  .planetBox {
    display: none;
  }

  .home {
    top: 230px;
    left: 80px;
  }

  .homeTitle {
    font-size: 35px;
  }

  .orderMainTitle {
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .home {
    left: 50px;
  }

  .aboutUs {
    padding: 50px 30px;
  }

  .aboutUsMainTitle {
    margin-bottom: 20px;
  }
  .serviceParts {
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
  .ourService {
    padding: 10px 20px;
  }

  /* Order =========== */
  .order,
  .collaboration {
    padding: 50px 30px;
  }
}

@media (max-width: 450px) {
  /* Home =============== */

  .homeTitle {
    font-size: 25px;
  }

  .home {
    width: 85%;
    top: 220px;
    left: 30px;
  }

  .firstList1,
  .firstList2,
  .secondList,
  .thirdList,
  .fourthList {
    font-size: 14px;
  }

  .homeTitleContainer {
    margin-bottom: 30px;
  }

  /* Title =============== */

  .mainTitle {
    font-size: var(--fontSize16);
  }

  .aboutUsTitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
  }

  /* Service =============== */

  .serviceTitle {
    margin-left: 7px;
  }

  .ourService {
    padding: 50px 30px;
    height: auto;
  }

  .serviceParts {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }

  .iconBox {
    height: 70px;
    width: 70px;
  }

  .serviceProduct,
  .serviceAdvice,
  .serviceSolutionSpan1,
  .serviceSolutionSpan2 {
    font-size: var(--fontSize15);
  }

  /* Order =========== */
  .orderSentence {
    padding-left: 20px;
  }
}
